@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

body {
    background-color: #f7f7f7;
}

.app {
    min-height: 100vh;
}

.main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content auto;
}

.side-bar {
    /* min-height: 100vh; */
    max-height: 100%;
}

.logo {
    font-family: 'Oregano', cursive;
    font-weight: 500;
    background-color: #1b1c1d;
    font-size: 30px;
    padding: 20px;
}

.logo-clickarea {
    margin: auto;
}

.myCode {
    border-radius: .3em;
    font-size: .92em;
}

.tag-edit input {
    opacity: 1 !important;
}

.inline-div {
    display: inline-block;
}

.w180 {
    width: 180px;
}